# Database Configuration (PostgreSQL)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/inventory_db
SPRING_DATASOURCE_USERNAME=inventory_db
SPRING_DATASOURCE_PASSWORD=SantoshKammar#16

# JWT Configuration (generate a random 64+ char string)
APP_JWT_SECRET=79aj77cf8e5dvbm7jh1pKDCykhTNbLKyvfZNHgUZ5VukeIvoCpY52OZZ3ScsNATnMWC/AWWKk+U5gWpEIgs31A==